"*":
  "atom-autocomplete-php":
    binComposer: "/usr/bin/composer"
  "atom-beautify":
    general:
      beautifyEntireFileOnSave: false
    php:
      allow_risky: "yes"
      cs_fixer_config_file: "/home/dchotas/.php_cs"
  "atom-clock": {}
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      showDirectoryColumn: true
    "atom-ide-terminal":
      cursorBlink: true
  "atom-material-ui":
    colors:
      abaseColor: "#5c6bc0"
      genAccent: true
      paintCursor: true
      predefinedColor: "Indigo"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  "city-lights-ui": {}
  core:
    disabledPackages: [
      "ide-php"
      "linter"
      "linter-ui-default"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "f32ca624-5b13-4ffe-a4f7-d1f2eadaac8a"
  "linter-ui-default":
    panelHeight: 300
    showPanel: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "php-ide-serenata":
    core:
      phpExecutionType: "docker"
    general:
      indexContinuously: false
  pigments:
    notifyReloads: false
  "project-manager":
    alwaysOpenInSameWindow: true
  "tree-view":
    autoReveal: true
    focusOnReveal: false
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
